* {
    margin: 0;
    padding: 0;
}

body {

    color: white;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 1rem;
    font-weight: 300;
    background-color: black;
    
}

.wrapper {
    margin: 0 1.25rem;
}

.header {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    margin-top: 1.5rem;
}

.container-logo-header {
    grid-column: 1;
    margin-left: 0.625rem;
}

.header-nav {
    grid-column: 3;
}

.header-links {
    list-style-type: none;
    margin-left: 1.875rem;
}

.header-links li {
    margin-bottom: 0.75rem;
}

.header-link--underlined {
    text-decoration: underline;
}

.container-h1 {
    background-image: url(./img/cover.png);
    background-size: 21.875rem 13.75rem;
    background-repeat: no-repeat;
    margin-left: 20px;
    background-position: 1% 80%;
}

.h1-center {
    grid-row: 2;
    grid-column: 2;
}

.h1-right {
    grid-row: 3;
    grid-column-start: 3;
    grid-column-end: 5;
    margin-left: 25px;
}

.h1 {
    display: grid;
    grid-template-columns: repeat(6, 60px);
    grid-template-rows: 75px 75px 75px;
    font-style: normal;
    font-size: 4.5rem;
    font-weight: 200;
    margin-bottom: 30px;
}

.h1, .h2, .h3 {
    font-family: "EB Garamond", serif;
    font-optical-sizing: auto;

}

.h2 span {
    margin-left: 70px;  
    
}

.h2 {
    font-weight: 500;
    margin-bottom: 32px;
    font-size: 28px;
}


.intro {
    display: flex;
    font-size: 15px;
    font-weight: 200;
    margin-bottom: 24px;
}

.intro-title {
    display: flex;
    flex-direction: column;
    font-weight: 200;
    font-size: 16px;
}

.intro-right {
    width: 100px;
    margin-left: 40px;
}


.p {
    margin-bottom: 24px;
}

.yellow {
    background-color: #FEE42A;
    padding: 0 20px;
    color: black;
}

.flex{
    display: flex;
    flex-direction: column;
}

.slide1 {
    padding: 0 20px 37px;
    
}

.ul-reasons {
    margin-top: 32px;
    padding: 0 20px;
    padding-bottom: 39px;
    
}

.ul-reasons li {
    margin-bottom: 16px;
}

.ul-reasons li strong {
    font-weight: 600;
}

.slide2 {
    padding-top: 40px;
}

.fs-20 {
    font-size: 20px;
}

.slide3 {
    padding: 0 20px;
}

.slide3 h2 {
    padding-top: 40px;
}

.slide3 h3 {
    margin-bottom: 8px;
}

.slide3 ul {
    list-style-type: none;
} 

.mb-32 {
    margin-bottom: 32px;
}

.card {
    padding: 20px;
    border-radius: 30px;
}

.h3 {
    font-size: 22px;
    font-weight: 200;
}

.grey {
    background-color: #343434;
    
}

.card div img {
    margin-bottom: 8px;
}

.slide3 ul li {
    margin: 0 0 32px 0;
}

.footer {
    border-top: 1px solid #C7B325;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.footer-socials {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.footer-socials div:nth-child(2) {
    margin-top: 2.6px;
}

@media (min-width: 600px) { /*брейкпоинт для планшетов*/
    body {
        font-size: 17px;
    }
    .container-h1 {
        background-image: url(./img/cover.png);
        background-size: 550px 270px;
        background-repeat: no-repeat;
        background-position: 120% -15%;
    }

    .h1 {
        display: grid;
        grid-template-columns: repeat(10, 60px);
        grid-template-rows: 75px 75px 75px;
        font-style: normal;
        font-size: 74px;
        font-weight: 200;
        margin-bottom: 49px;
        margin-left: 15px;
    }

    .h3 {
        font-size: 24px;
    }

    .h1-center {
        grid-row: 2;
        grid-column: 3;
    }

    .h1-right {
        grid-row: 3;
        grid-column-start: 7;
        grid-column-end: 10;
        margin-left: 15px;
    }

    h4 {
        font-size: 16px;
    }

    .header {
        display: grid;
        grid-template-columns: repeat(10, 65px);
        margin-top: 2.3rem;
        padding-bottom: 1rem;
    }

    .container-logo-header {
        grid-column: 2;
        margin-left: 0.625rem;
    }

    .header-nav {
        grid-column-start: 8;
        grid-column-end: 10;
        padding-bottom: 20px;
    }

    .intro-right {
        width: 100px;
        margin-left: 70px;
    }

    .intro {
        justify-content: space-between;
        margin-left: 0;
    }

    .intro-title {
        flex-direction: row;
        font-size: 18px;
    }

    .slide1 {
        padding-top: 28px;
    }

    .slide3 {
        padding: 0 28px;
    }

    .slide3 h3 {
        margin-bottom: 10px;
    }

    .intro {
        font-size: 18px;
    }

    .intro-right {
        width: 110px;
        margin-left: 30px;
    }

    .slide1 {
        padding-top: 15px;
        padding: 0 28px 37px; 
    }

    .flex {
        display: block;
    }

    .yellow {
        padding: 0 25px;
    }

    .card {
        padding: 30px;
    }
    .slide2 {
        padding-top: 45px;
    }

    .h2 span {
        margin-left: 5px;
    }

    .footer {
        border-top: 1px solid #C7B325;
        padding: 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .footer-socials {
        display: flex;
        flex-direction: row;
        gap: 15px;
    }

    .footer-socials div:nth-child(2) {
        margin-top: 2.6px;
    }

}

@media (min-width: 1024px) { /*брейкпоинт для компа*/
    body {
        font-size: 22px;
    }
    .header {
        display: flex;
        justify-content: space-between;
        grid-template-columns: repeat(3, 120px);
        margin-top: 1.5rem;
        margin: 2.5rem 14rem 0 14rem;
    }

    .container-logo-header {
        grid-column: 1;
        margin-left: 0.625rem;
    }

    .header-nav {
        grid-column: 3;
    }

    .header-links {
        list-style-type: none;
        margin-left: 1.875rem;
    }

    
    .container-h1 {
    background-image: "url(./img/cover.png)";
    background-size: 0rem 0rem;
    background-repeat: no-repeat;
    margin-left: 20px;
    background-position: 1% 80%;
    }

    .h1 {
        display: block;
        font-style: normal;
        font-size: 95px;
        font-weight: 200;
        margin-bottom: 30px;
        text-align: center;
        margin-left: 0;
    }

    .h2 {
        font-size: 42px;
    }

    .h3 {
        font-size: 30px;
    }

    .h4 {
        font-size: 28px;
    }

    .intro-title {
        font-size: 20px;
    }

    .intro {
        font-size: 22px;
    }

    .intro-right {
        width: 160px
    }

    .slide1 {
        padding: 0 200px 37px;
    }

    .slide2 {
        padding: 30px 200px 0 200px;
    }

    .slide3 {
        padding: 0 200px;
    }
}